.maindiv {
	padding-top: 60px;
	padding-bottom: 20px;
	.cardhead {
		display: flex;
		justify-content: space-between;
		.leftdiv {
			display: flex;
			justify-content: space-between;

			.icondiv {
				display: flex;
				margin-right: 8px !important;
				align-items: center;
				.icons {
					width: 1em;
					height: 1em;
					display: inline-block;
					flex-shrink: 0;
					font-size: 1.5rem;
				}
			}
		}
		.rightdiv {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 8px;
			color: rgb(125, 135, 156);
			font-weight: 200;
		}
	}
	@media screen and (max-width: 900px) {
		margin: 12px;
	}
}
