.maindiv {
	.carousel {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: 85%;
		.leftdiv {
			width: 50%;
			padding-left: 24px;
			h1 {
				font-size: 50px;
				margin-top: 0px;
				margin-bottom: 1.35rem;
				line-height: 1.2;
				@media screen and (max-width: 900px) {
					font-size: 30px;
				}
			}
			p {
				margin-bottom: 21.6px;
				margin-top: 0px;
				font-size: 14px;
				color: rgb(15, 52, 96);
				text-transform: none;
				white-space: normal;
			}
			button {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: relative;
				box-sizing: border-box;
				outline: 0px;
				border: 0px;
				cursor: pointer;
				vertical-align: middle;
				font-size: 0.875rem;
				line-height: 1.75;
				padding: 6px 1.75rem;
				color: rgb(255, 255, 255);
				background-color: rgb(210, 63, 87);
				font-weight: 600;
				height: 44px;
				border-radius: 8px;
			}
			@media screen and (max-width: 900px) {
				width: 100%;
			}
		}
		.rightdiv {
			.img {
				@media screen and (min-width: 900px) {
					width: 428px !important;
					height: 400px !important;
					min-width: 428px !important;
					min-height: 400px !important;
				}
			}
		}
		@media screen and (max-width: 900px) {
			display: block;
			margin-top: 70px;
		}
	}
}
