.maindiv {
	.sidebar {
		background-color: rgb(255, 255, 255);
		color: rgb(43, 52, 69);
		box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
		border-radius: 10px;
		padding: 1.25rem;
		margin-right: 1.75rem;
		width: 240px;
		height: 100%;
		margin-top: 55px;
		.brands {
			display: flex;
			margin-top: -8px;
			margin-bottom: 8px;
			h3 {
				margin-bottom: 0px;
				margin-top: 0px;
				font-size: 20px;
				font-weight: 600;
				line-height: 1.5;
				padding: 0.5rem 0.5rem;
				color: rgb(43, 52, 69);
				text-transform: none;
				white-space: normal;
			}
			.light {
				color: rgb(125, 135, 156);
			}
		}
		.insidediv {
			color: rgb(43, 52, 69);
			display: flex;
			align-items: center;
			padding: 0.75rem 1rem;
			border-radius: 5px;
			cursor: pointer;
			background-color: rgb(246, 249, 252);
			margin-bottom: 0.75rem;

			.imgdiv {
				overflow: hidden;
				box-sizing: border-box;
				display: inline-block;
				position: relative;
				width: 20px;
				height: 20px;
			}
			h4 {
				margin-bottom: 0px;
				margin-top: 0px;
				font-size: 17px;
				font-weight: 600;
				line-height: 1;
				margin-left: 16px;
				text-transform: capitalize;
			}
		}
		@media screen and (max-width: 900px) {
			display: none;
		}
	}
}
.maindiv {
	.sidebar {
		.insidediv:hover {
			box-shadow: 0 0 20px #e2e1f0;
		}
	}
}
